@font-face{
    font-family: 'HANYIXUEJUN';
    src : url('../fonts/HANYIXUEJUN.TTF');
}
body{
    background:url(../images/Background.jpg);
    background-origin:content;
    background-position:center 0;
    background-size:cover; 
    background-repeat:no-repeat;
    background-attachment:fixed;
    position:relative;
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    line-height: 0;
    overflow: hidden;
}
#PsRTitle{
	font-family: 'HANYIXUEJUN';
	font-size:100px;
	color:white;
	position:absolute;
	margin-top:-10%;
	margin-left:19%;
	width:3000px;
}

#ResetBox{
	position:relative;
    border: 1px solid #E2E3E5;
    width: 25%;
	height: 300%;
	min-width:300px;
	box-shadow: 10px 10px 30px #888888;
	background:#FFFFFF;
	margin-left:37%;
	margin-top:10%;
	opacity:0.85;
}
#em{
	position:relative;
	border: 1px solid #E2E3E5;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	margin-left:100px;
	margin-bottom:10px;
	margin-top:30px;
}
#email_button{
	border: 1px solid #E2E3E5;
	font: bold 15px Arial;
	width:100px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	background:#FFFFFF;
	box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.2);
	margin-top:20px;
	margin-left:10px;
}
#email_button:hover{
	background:#C0C0C0;
}
#nm{
	position:relative;
	border: 1px solid #E2E3E5;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:100px;
}
#pw{
	position:relative;
	border: 1px solid #E2E3E5;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:100px;
}
#rpw{
	position:relative;
	border: 1px solid #E2E3E5;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:100px;
}
#chk{
	position:relative;
	border: 1px solid #E2E3E5;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:100px;
}
#ResetBack{
	font:"Microsoft YaHei";
	font-size:20px;
	position:relative;
	//border: 1px solid #E2E3E5;
    margin-left:115px;
    margin-bottom:8%;
    margin-top:25px;
	display:inline-block;
	vertical-align:middle;
}
.sendbutton{
	position:relative;
	background: #FFFFFF;
    border: none;
    color: #000000;
    margin-left:25px;
    margin-top:10px;
    margin-bottom:5%;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    width:20%;
    height:10%;
    font-size:130%;
    box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.2);
    border: 1px solid #E2E3E5;
    display:inline-block;
	vertical-align:middle;
	font: bold 130% Arial;
}
.sendbutton:hover {
    background: #C0C0C0;
}