
body{
    background:url(../images/lizi.gif);
    background-origin:content;
    background-position:50% 50%;
    background-size:cover; 
    background-repeat:no-repeat;
    background-attachment:fixed
}
#LoginToptitle{
	width: 700px;
	position:relative;
	//border: 1px solid #E2E3E5;
	color:#000000;
	font-size:40px;
	text-align:center;
	margin:60px auto auto auto;
}
#LoginBox{
	position:relative;
    //border: 1px solid #E2E3E5;
    width: 400px;
	height: 200px;
	margin:80px auto auto auto;
}
#LoginIDLabel{
	position:relative;
	//border: 1px solid #E2E3E5;
	font-size:30px;
    margin-left:40px;
    margin-bottom:10px;
    margin-top:10px;
	display:inline-block;
	vertical-align:middle;
}
#IDInput{
	position:relative;
	border: 1px solid #E2E3E5;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
}
#LoginPasswordLabel{
	position:relative;
	//border: 1px solid #E2E3E5;
	font-size:30px;
	margin-left:40px;
	display:inline-block;
	vertical-align:middle;
}
#PasswordInput{
	position:relative;
	border: 1px solid #E2E3E5;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
}
#LoginVericodeLabel{
	position:relative;
	//border: 1px solid #E2E3E5;
	font-size:30px;
	display:inline-block;
	margin:10px;
	vertical-align:middle;
}
#VericodeInput{
	position:relative;
	border: 1px solid #E2E3E5;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	margin-left:-10px;
}
#LoginVericodePic{
	position:relative;
	background:url(../images/yanzhengma.jpg);
	background-repeat:no-repeat;
	border: 1px solid #E2E3E5;
	width:69px;
	height:30px;
	margin-left:0px;
	display:inline-block;
	vertical-align:middle;
}
#RegistWant{
	border: 1px solid #E2E3E5;
	font: bold 20px Arial;
	width:100px;
	height:50px;
	display:inline-block;
	vertical-align:middle;
	margin-left:85px;
	margin-top:50px;
	background-color: #EEEEEE;
}

#LoginInput{
	border: 1px solid #E2E3E5;
	background-color: #EEEEEE;
	font: bold 20px Arial;
	width:100px;
	height:50px;
	display:inline-block;
	vertical-align:middle;
	margin-left:30px;
	margin-top:50px;
}
