#content{
	margin-top:5%;
}

h1{
	text-align:center;
}

#register_form{
	margin-left:37%;
	margin-right:auto;
	margin-top:10%;
}

.table{
	display:table;
	border-space:30px 10px 30px 10px;
}

.table_row{
	display:table-row;
}
.table_cell{
	display:table-cell;
	padding:5px;
}

.right_align{
	text-align:right;
}

.center_align{
	text-align:center;
}